archive
Miniconda3
setEnv.sh
ducOld

src/__pycache__

classification/results
classification/model_classification.h5

detection/1_blend
detection/2_resized
detection/3_results
detection/cryolo_model.h5

data/predict
data/trainClassifier
data/trainDetector

1