archive
Miniconda3
setEnv.sh
ducOld

src/__pycache__

classification/results
classification/model_classification.h5

detection/results
detection/logs
detection/filtered_tmp
detection/dataBlend
detection/dataResized
detection/cryolo_model.h5

data/predict
data/trainClassifier
data/trainDetector

1